[submodule "packages/tests/circles-contracts-v2"]
	path = packages/tests/circles-contracts-v2
	url = https://github.com/CirclesUBI/circles-contracts-v2.git
	branch = develop
[submodule "packages/tests/circles-contracts-v1"]
	path = packages/tests/circles-contracts-v1
	url = https://github.com/CirclesUBI/circles-contracts.git
	branch = master
