[submodule "packages/circles-contracts"]
	path = packages/circles-contracts
	url = https://github.com/CirclesUBI/circles-contracts.git
	branch = master
[submodule "packages/circles-contracts-v2"]
	path = packages/circles-contracts-v2
	url = https://github.com/CirclesUBI/circles-contracts-v2.git
	branch = develop
