[submodule "contracts/circles-contracts"]
	path = contracts/circles-contracts
	url = https://github.com/CirclesUBI/circles-contracts.git
	branch = master
[submodule "contracts/circles-contracts-v2"]
	path = contracts/circles-contracts-v2
	url = https://github.com/CirclesUBI/circles-contracts-v2.git
	branch = 20240301-migration
